
body {
    max-width: 600px;
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}


h1 {
    color: darkblue ;
    text-align: center;
}


h2 {
    color: #0066cc;
    margin-top: 20px;
    text-align: left;
    margin: 20px 0 10px;
}

img {
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    border: 2px solid #ccc;
    max-width:160px;
    object-fit: cover;
}


p {
    line-height: 1.5;
    margin-bottom: 10px;
}

th {
    text-align: left;
}

li{
    line-height: 1.5;
    margin-bottom: 10px;
    
}

.profile-card {
    border: 1px solid #aaa;
    padding: 10px;
    margin: 10px 0;
    background: #e8f0ff;
    border-radius: 8px;
    
}

.hobby {
    border: 1px solid #aaa;
    padding: 10px;
    margin: 10px 0;
    background: #fff3cd;
    border-radius: 8px;
}

.contact{
    border: 1px solid #aaa;
    padding: 10px;
    margin: 10px 0;
    background: #ffd0cd;
    border-radius: 8px;
}





